* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    transition: 0.5s;
}

[class^="icon-"] {
  color: #0962E8;
}

/* header section */
header {
    width: 100%;
    height: 700px;
    background-color: #CBECFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
}

/* header language buttons */
header .languages {
    position: absolute;
    top: 0;
    right: 5%;
    padding: 10px 20px;
}

header .languages button {
    border: none;
    background-color: transparent;
    color: #29374E;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

header .languages .selected {
    background-color: #fff;
    color: #0962E8;
    border-radius: 100px;
    padding: 5px;

}

/* header main part */
header .headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 94%;
    width: 100%;
    padding-top: 10%;
    padding-left: 20%;
    color: #29374E;
    
}
header .headline .textSection{
  display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;  
  
}
header .headline .textSection h1 span {
    font-size: 64px;
    margin: 0 10px 20px 0;
    display: inline-block;
}

header .headline .textSection .bluesection {
    background-color: #fff;
    color: #0962E8;
    border-radius: 20px;
    padding: 5px 20px;
}

header .headline .textSection h2 {
    font-size: 22px;
    font-weight: 400;
    width: 350px;
    margin-bottom: 20px;
    display: inline-block;
}

header .headline .textSection button {
    font-size: 18px;
    color: #fff;
    background-color: #0962E8;
    border: #0962E8;
    border-radius: 12px;
    padding: 20px 50px;
}
header .headline .image_section {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .headline .image_section img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


/* header advantages part */
header .advantages {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: auto;
}

header .advantages .advantage {
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-color: #fff;
    width: 250px;
    height: 100px;
    border-radius: 20px;
    padding: 20px 15px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .advantages .advantage p {
    width: 62%;
}

header .advantages .advantage span {
    font-size: 20px;
    border-radius: 100px;
    background-color: #EFF9FF;
    padding: 10px;
}

/* main sector */

main {
    max-width: 1024px;
    padding: 60px;
    margin: 10% auto;
    text-align: center;
}

/* main text */
main h1 {
    font-size: 38px;
    font-weight: 600;
    color: #29374E;
    width: 50%;
    margin: 40px auto;
}

main h1 span {
    font-size: 38px;
    font-weight: 600;
    color: #0962E8;
}

/* main cards */
main .cards {
    display: flex;
    justify-content: center;
}

main .card {
    height: 300px;
    width: 500px;
    margin: 0 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
}

main .card h2 {
    font-size: 20px;
    margin: 40px 0 5px 20px;
    width: 40%;
}

main .card p {
    font-size: 14px;
    margin: 10px 0 5px 20px;
    width: 40%;
}

main .left_card {
    background-image: url("../images/strategies_phone_min.jpg");
}

main .right_card {
    background-image: url("../images/robo_advising_phone_min.jpg");
}

/* main value */
main .value {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1024px;
    margin: 100px auto;

}

/* main order */
main .value .info,
main .value .order {
    flex: 1;
    flex-basis: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
}

main .value .order h1 {
    font-size: 38px;
    font-weight: 600;
    width: 100%;
    color: #29374E;
    margin: 0 0 20px;
}

main .value .order p {
    font-size: 14px;
    color: #29374E;
    margin-bottom:20px;
}

main .value .order button {
    font-size: 18px;
    color: #fff;
    background-color: #0962E8;
    border: #0962E8;
    border-radius: 12px;
    padding: 15px 25px;
}

/* main info */
main .value .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .value .info .bottom_row,
main .value .info .top_row {
    display: flex;
    align-items: bottom;
    justify-content: space-between;
    margin: 20px auto;
    width: 90%;
}

main .value .info .infoblock {
    width: 50%;
}

main .value .info .infoblock p {
    width: 75%;
    font-size: 14px;
    margin: 0 0 5px;
}

main .value .info .infoblock span {
    font-size: 25px;
    font-weight: 500;
    border-radius: 100px;
    background-color: #EFF9FF;
}

main .value .info .infoblock span:before {
    position: relative;
    left: -2px;
}
/* 
@media (max-width: 980px) {

    header {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;    
    }

    header .languages button {
      font-size: 20px;
    }

    header .headline {
      align-items: center;
    }
  
    header .headline .textSection {
      width: 100%;
    }
  
    header .headline .image_section {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    header .headline .image_section img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      width: 150%;
    }

    header .headline h1 {
        display: block;
    }

    header .advantages {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header .advantages .advantage {
        margin: 10px;
    }

    main .cards {
        flex-direction: column;
        align-items: center;
    }

    main .card {
        width: 90%;
    }

    main .value {
        margin-top: 10%;
    }
} */
@media (max-width: 980px) {
  /* Header */
  header {
    padding: 0 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header .languages button {
    font-size: 25px;
  }

  header .headline {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  header .headline .image_section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .headline .textSection {
    width: 100%;
    text-align: center;
  }

  header .headline .textSection h1 span {
    font-size: 80px!important;
    margin: 0 10px 20px 0;
    display: inline-block;
  }

  header .headline .textSection h2 {
    font-size: 45px;
    margin-bottom: 20px;
    width:100%;
    text-align: left;
  }

  header .headline .textSection button {
    font-size: 45px;
    padding: 30px;
    width:100%;
  }

  /* Advantages */
  header .advantages {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
  }

  header .advantages .advantage {
    flex-direction: column-reverse;
    width: 45%;
    height: auto;
    margin: 10px;
    padding: 30px;
    border-radius: 20px;
  }

  header .advantages .advantage p {
    font-size: 30px;
  }

  header .advantages .advantage span {
    position: relative;
    top: -30px;
    font-size: 50px;
  }

  /* main sector */
  main h1, 
  main .colored,
  main .value .order h1,
  main .value .order span{
    font-size: 70px;
    width: 100%
  }

  main h2,
  main .value .order h2 {
    font-size: 40px!important;
  }

  main p,
  main .value .order p{
    font-size: 30px!important;
  }
  
  /* Cards */
  main .cards {
    flex-direction: column;
    align-items: center;
  }

  main .card {
    background-position-y: 10px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 30px;
    width: 90%;
    height: 600px;
  }

  /* Value */
  main .value {
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }

  main .value .order{
    text-align: center;
    width: 100%;
  }

  main .value .order button{
    width: 100%;
    font-size: 40px;
    padding: 40px 0;
  }
  
  main .value .info{
    margin-top: 100px;
  }

  main .value .info .infoblock{
    background-color: #fff;
    height: 290px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  main .value .info .infoblock p{
    width: 80%;
    margin:0 auto;
  }

  main .value .info .infoblock span{
    font-size: 60px;
    padding:10px;
    position: relative;
    top: -20px;
  }

  main .value .info .infoblock span:before {
    left: 0;
  }

}
